In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('./xl/devorce.ods', sheet_name='Divorce_Decree', engine='odf')
#df = pd.read_excel('./xl/AwardLetter_RetirementAccount_Mortgage.xlsx', sheet_name='Report Base')
df.columns

Index(['ADR Processed Date', 'QC Date', 'QC Checker', 'Loan Number', 'Channel',
       'ADR REFERENCE NUMBER', 'Total #PageADR', 'PAGE NO', 'Total #PageDOC',
       'BPO', 'STATUS', 'SINGLE DOC', 'PAGE_GROUP', 'Average CR',
       'SYSTEM CLASSIFIED VALUE', 'QC VALUE', '#Pages Classification FAIL',
       'CLASSIFICATION@ DOC LEVEL', 'COLLATION QC@ Doc Level',
       'FATAL OVERALL QC@ DOC LEVEL', 'SUB CLASSIFY QC@ Doc Level',
       'SUB CLASSIFY OUTPUT', 'Sub Classify Data Elements Fail',
       'ROTATION QC @ Pg Level', '#Pages Rotation FAIL',
       'NON FATALOVERALL QC @ DOC LEVEL', 'OVERALL QC@ DOC LEVEL',
       'Employer Name'],
      dtype='object')

In [4]:
df['QC VALUE'].unique()

array(['Divorce Decree', 'Income Calculation Sheet',
       'Divorce Decree, Award Letter(s)'], dtype=object)

In [10]:
#df = df[(df['Total #Page\nADR']==1)&(df['FATAL OVERALL QC \n@ DOC LEVEL']=='PASS')]
#df = df[(df['Total #PageADR']==1)&(df['FATAL OVERALL QC@ DOC LEVEL']=='PASS')]
df = df[(df['FATAL OVERALL QC@ DOC LEVEL']=='PASS')]
#df = df[df['FATAL OVERALL QC \n@ DOC LEVEL']=='PASS']
df = df[['ADR REFERENCE NUMBER', 'PAGE NO', 'QC VALUE']]
df.shape

(52, 3)

In [11]:
df.head()

    ADR REFERENCE NUMBER PAGE NO        QC VALUE
0  ADR-2022-100004193898       1  Divorce Decree
1  ADR-2022-200004191765       1  Divorce Decree
2  ADR-2022-200004194826       1  Divorce Decree
3  ADR-2022-200004196885       1  Divorce Decree
4  ADR-2022-100004193649     1,2  Divorce Decree

In [12]:
df['QC VALUE'].value_counts()

Divorce Decree    52
Name: QC VALUE, dtype: int64

In [13]:
df.to_csv('./divorce.csv', header=True, index=False)